fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9
torch==2.3.1
torchvision==0.18.1
transformers==4.42.3
librosa==0.10.2.post1
soundfile==0.12.1
opencv-python-headless==4.10.0.84
faster-whisper==1.0.3
langdetect==1.0.9
deep-translator==1.11.4
pydantic==2.7.4
